.container-1,
.container-2,
.container-3,
.container-4,
.container-5 {
  display: grid;
  grid-template-columns: 30rem 1fr;
  align-items: center;
  max-width: 90rem;
  /* gap: 3rem; */
  padding: 1.4rem;
  background-color: #fff;
}

.container-3,
.container-2,
.container-5,
.container-4 {
  display: none;
}

.btn__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back__btn,
#back__btn-2,
#back__btn-3,
#back__btn-4 {
  font-size: 1.2rem;
  outline: 0;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 7rem;

  cursor: pointer;
}

.next__btn,
#next__btn-2,
#next__btn-3 {
  color: #fff;
  font-size: 1.2rem;
  outline: 0;
  background-color: #02295a;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 7rem;
  align-self: flex-end;

  cursor: pointer;
}

#next__btn-4 {
  color: #fff;
  font-size: 1.2rem;
  outline: 0;
  background-color: #473dff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 7rem;
  align-self: flex-end;

  cursor: pointer;
}
